<a href="https://colab.research.google.com/github/seoyeon7/ML_IDS_Project/blob/main/Train_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import pandas as pd
import numpy as np
from glob import glob

In [2]:
file_names = glob("/content/train_data/*.csv")
total = pd.DataFrame()

for file_name in file_names:
    temp = pd.read_csv(file_name, sep=',', encoding='utf-8',header=None, names=['TIMESTAMP','ID','DLC','DATA_ONE','DATA_TWO','DATA_THREE','DATA_FOUR','DATA_FIVE','DATA_SIX','DATA_SEVEN','DATA_EIGHT']) #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    total = pd.concat([total, temp]) #전체 데이터프레임에 추가하여 넣는다

total.to_csv("/content/train_data/total.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
train_data=pd.read_csv("/content/train_data/total.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
train_data.head()

,Unnamed: 0,TIMESTAMP,ID,DLC,DATA_ONE,DATA_TWO,DATA_THREE,DATA_FOUR,DATA_FIVE,DATA_SIX,DATA_SEVEN,DATA_EIGHT
0,0,TIMESTAMP,ID,DLC,DATA_ONE,DATA_TWO,DATA_THREE,DATA_FOUR,DATA_FIVE,DATA_SIX,DATA_SEVEN,DATA_EIGHT
1,1,1.9,012F,8,2B,7C,8A,DD,F1,5,33,2
2,2,3.7,028E,2,FF,7F,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.9,02BB,5,BD,F4,0,0,F2,NaN,NaN,NaN
4,4,4.3,00A5,8,BA,0B,1,28,80,26,0C,F1