<a href="https://colab.research.google.com/github/seoyeon7/ML_IDS_Project/blob/main/Train_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import pandas as pd
import numpy as np
from glob import glob

In [2]:
file_names = glob("/content/train_data/*.csv")
total = pd.DataFrame()

for file_name in file_names:
    temp = pd.read_csv(file_name, sep=',', encoding='utf-8',header=None, names=['TIMESTAMP','ID','DLC','DATA_ONE','DATA_TWO','DATA_THREE','DATA_FOUR','DATA_FIVE','DATA_SIX','DATA_SEVEN','DATA_EIGHT']) #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    total = pd.concat([total, temp]) #전체 데이터프레임에 추가하여 넣는다

total.to_csv("/content/train_data/total.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
train_data=pd.read_csv("/content/train_data/total.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
train_data

,Unnamed: 0,TIMESTAMP,ID,DLC,DATA_ONE,DATA_TWO,DATA_THREE,DATA_FOUR,DATA_FIVE,DATA_SIX,DATA_SEVEN,DATA_EIGHT
0,0,TIMESTAMP,ID,DLC,DATA_ONE,DATA_TWO,DATA_THREE,DATA_FOUR,DATA_FIVE,DATA_SIX,DATA_SEVEN,DATA_EIGHT
1,1,1.9,012F,8,2B,7C,8A,DD,F1,5,33,2
2,2,3.7,028E,2,FF,7F,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3.9,02BB,5,BD,F4,0,0,F2,NaN,NaN,NaN
4,4,4.3,00A5,8,BA,0B,1,28,80,26,0C,F1
...,...,...,...,...,...,...,...,...,...,...,...,...
18224536,210107,242943.3,01C4,7,79,6,A0,8,10,22,12,NaN
18224537,210108,242943.5,01A1,5,7C,D1,5D,5,91,NaN,NaN,NaN
18224538,210109,242943.7,01C5,7,8B,0E,60,10,10,22,12,NaN
18224539,210110,242944.1,012F,8,B1,87,8A,DD,F1,1,33,2
18224540,210111,242944.5,314,3,50,0,FF,NaN,NaN,NaN,NaN,NaN

In [6]:
train_data.describe()

,Unnamed: 0,TIMESTAMP,ID,DLC,DATA_ONE,DATA_TWO,DATA_THREE,DATA_FOUR,DATA_FIVE,DATA_SIX,DATA_SEVEN,DATA_EIGHT
count,18224541,12149701,12149192,12148684,11919294,11688470,11415294,10644644,9379710,7626403,9884219,8671246
unique,12206335,3602475,431,265,258,258,258,258,258,258,561804,5514312
top,10335,8,FF,8,FF,FF,FF,FF,FF,FF,FF,FF
freq,20,2535627,1824451,2106902,2245391,1082688,1834441,1758839,2921669,2464703,1512630,1253492